spring:
  redis:
    host: 192.168.101.128
    port: 6379
  session:
    store-type: redis
  datasource:
    username: root
    password: root
    url: jdbc:mysql://192.168.101.128:3306/gulimall_pms?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: gulimall-search
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.101.128:8848
        namespace: dev

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  thymeleaf:
    cache: false


server:
  port: 12000
logging:
  level:
    com.atguigu.gulimall: debug
