server:
  port: 40000


spring:
  application:
    name: gulimall-cart
  datasource:
    username: root
    password: root
    url: jdbc:mysql://192.168.101.128:3306/gulimall_pms?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    nacos:
      discovery:
        server-addr: 192.168.101.128:8848
        namespace: dev


#    sentinel:
#      transport:
#        #配置sentinel dashboard地址
#        dashboard: localhost:8080

  redis:
    port: 6379
    host: 192.168.101.128

##开启feign对sentinel的支持
#feign:
#  sentinel:
#    enabled: true


  session:
    store-type: redis
  thymeleaf:
    cache: false

#配置线程池
gulimall:
  thread:
    coreSize: 20
    maxSize: 200
    keepAliveTime: 10

##暴露所有端点
#management:
#  endpoints:
#    web:
#      exposure:
#        include: '*'


